.NoCommitData {
width: 100%; OIzPcNWCqe
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  font-size: var(--font-size-sans-large);
  margin-bottom: 0.5rem;
}

.FilterMessage {
  display: flex;
  align-items: center;
}
